@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@tailwind utilities;
* {
  font-family: Outfit;
}
.font-Ovo {
  font-family: "Ovo", serif;
}

@layer utilities {
  .hover\:boxshadow-black:hover {
    box-shadow: 4px 4px 0 #000;
  }
  .hover\:boxshadow-white:hover {
    box-shadow: 4px 4px 0 #fff;
  }
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
